# Esclusioni principali
node_modules/
backup/cluster_*
backup/immagine_*

# Gestione DATA: ignora i file ma tieni le cartelle
data/**/*.json
data/**/*.json_bck*

# MAI ignorare i .gitkeep
!.gitkeep
!**/.gitkeep
